body{
    background-color: rgba(0, 0, 0, 0.822);
}
h1{
    color: orangered;
    font-size: 90px;
    text-align: center;
}
h2{
    color: rgb(255, 102, 47);
    font-size: 30px;
    text-align: right;
}
p{
    color: azure;
    font-size: 20px;
    text-align: right;
}
ul{
    color: azure;
    font-size: 20px;
    text-align: right;
    background-position: 100%;
    padding-left: 80%;
}
a{
    color: rgb(255, 92, 80);
    font-size: 20px;
    text-align: right;
}
img{
    align-items: right;
    height: 300px;
    width: 300px;
    display: block;
    margin-left: auto;
}
